@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');
/* start basic rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    transition: all .2s ease-in-out;
    text-transform: capitalize;
    font-family: "Nunito", sans-serif;
}
:root {
    --black-clr: #2c2c54;
    --orange-clr: #ff9f1a;
    --white-clr: #ffffff;
    --text-clr: #666666;
}
::selection {
    background-color: var(--orange-clr);
    color: var(--white-clr);
}
body {
    font-weight: 400;
    line-height: 1;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
p {
    line-height: 1.5;
    color: var(--text-clr);
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: var(--black-clr);
}
.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-width: 576px) {
    .container {
        width: 540px;
    }
}
@media screen and (min-width: 768px) {
    .container {
        width: 720px;
    }
}
@media screen and (min-width: 992px) {
    .container {
        width: 960px;
    }
}
@media screen and (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}
/* end basic rules */