@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');
/* start basic rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    transition: all .2s ease-in-out;
    text-transform: capitalize;
    font-family: "Nunito", sans-serif;
}
:root {
    --black-clr: #2c2c54;
    --orange-clr: #ff9f1a;
    --white-clr: #ffffff;
    --text-clr: #666666;
}
::selection {
    background-color: var(--orange-clr);
    color: var(--white-clr);
}
body {
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
}
/* end basic rules */