@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');
/* start basic rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    transition: all .2s ease-in-out;
    text-transform: capitalize;
    font-family: "Nunito", sans-serif;
}
:root {
    --black-clr: #2c2c54;
    --orange-clr: #ff9f1a;
    --white-clr: #ffffff;
    --text-clr: #666666;
}
::selection {
    background-color: var(--orange-clr);
    color: var(--white-clr);
}
body {
    font-size: 17px;
    font-weight: 400;
    line-height: 1;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
p {
    line-height: 1.5;
    color: var(--text-clr);
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: var(--black-clr);
}
.section {
    padding: 2rem 9%;
}
@media screen and (max-width: 991px) {
    .section {
        padding: 2rem 1rem;
    }
}
.btn {
    display: inline-block;
    padding: 10px 25px;
    border: 2px solid var(--black-clr);
    border-radius: .25rem;
    font-weight: 700;
    color: var(--black-clr);
    margin-top: 20px;
}
.btn:hover {
    background-color: var(--orange-clr);
    color: var(--white-clr);
}
.heading {
    text-align: center;
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}
@media screen and (max-width: 768px) {
    .heading {
        font-size: 1.7rem;
    }
}
.heading span {
    color: var(--orange-clr);
}
/* end basic rules */
/* start header */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999;
    padding: 1.5rem 9% !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    background-color: var(--white-clr);
}
#input-btn {
    display: none;
}
.nav-btn {
    display: none;
    padding: 0.25rem 0.75rem 0.30rem;
    border: 0.1rem solid var(--black-clr);
    background-color: transparent;
    border: .1rem solid var(--black-clr);
    border-radius: .25rem;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1.5rem;
    color: var(--black-clr);
    cursor: pointer;
}
.nav-btn::before {
    content: "\f0c9";
}
#input-btn:checked + .nav-btn::before {
    content: "\f00d";
}
.logo {
    font-size: 1.5rem;
    color: var(--black-clr);
}
.navbar a {
    display: inline-block;
    padding: 0 15px;
    font-weight: 500;
    color: var(--black-clr);
}
.navbar a:hover {
    color: var(--orange-clr);
}
/* navigation mobile: */
@media screen and (max-width: 767px) {
    header {
        padding: 1rem !important;
    }
    .nav-btn {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        background-color: #F9F9F9;
    }
    .navbar a {
        display: block;
        padding: 15px 0;
        border: 0.1rem solid var(--black-clr);
        margin: 1rem;
        border-radius: 0.25rem;
        background-color: var(--white-clr);
        text-align: center;
    }
    #input-btn:checked ~ .navbar {
        left: 0;
    }
}
header .icons a {
    display: inline-block;
    margin-left: 15px;
    font-size: 1.25rem;
    color: var(--black-clr);
}
header .icons a:hover {
    color: var(--orange-clr);
}
/* end header */
/* start home */
.home {
    position: relative;
    min-height: 100vh;
    margin-top: 72px;
    padding: 2rem 9%;
    background: url(../img/home-bg-1.jpg) center center no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    align-items: center;
}
@media screen and (max-width: 1200px) {
    .home {
        grid-template-columns: repeat(1, 1fr);
    }
}
.home-text {
    animation: slideContent .5s linear 1s backwards;
}
@keyframes slideContent {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
}
.home-text h4 {
    font-size: 1.25rem;
    color: var(--orange-clr);
    margin-bottom: 15px;
}
.home-text h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 15px;
}
.home-img {
    position: relative;
    z-index: 0;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
    .home-img {
        padding-bottom: 15rem;
    }
}
.home-img img.shoe {
    width: 100%;
    transform: rotate(-35deg);
    animation: shoe .3s linear;
}
@keyframes shoe {
    0% {
        transform: rotate(0deg) scale(.5);
    }
}
.home-img img.text {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    animation: shoeText .5s linear .5s backwards;
}
@media screen and (max-width: 768px) {
    .home-img img.text {
        width: 60%;
    }
}
@keyframes shoeText {
    0% {
        opacity: 0;
        top: -10rem;
    }
}
.home .prev, 
.home .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border: 2px solid var(--black-clr);
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.25rem;
}
@media screen and (max-width: 768px) {
    .home .prev, 
    .home .next {
        display: none;
    }
}
.home .prev:hover , 
.home .next:hover {
    background-color: var(--orange-clr);
    color: var(--white-clr);
}
.home .prev {
    left: 2rem;
}
.home .next {
    right: 2rem;
}
/* end home */
/* start services */
.services-container {
    padding: 2rem;
    background-color: #F9F9F9;
    border: 2px solid #eee;
    border-radius: .25rem;
}
.services-grid {
    display: grid;
    margin: 0 -15px;
    grid-template-columns: repeat(12, 1fr);
    grid-row-gap: 30px;
}
.service-col {
    grid-column: span 12;
    padding: 0 15px;
}
@media screen and (min-width: 768px) {
    .service-col:not(:last-child) {
        grid-column: span 6;
    }
    .service-col:last-child {
        grid-column: span 12;
    }
}
@media screen and (min-width: 1200px) {
    .service-col {
        grid-column: span 4 !important;
    }
}
.service {
    text-align: center;
}
.service-icon {
    font-size: 2.5rem;
    color: var(--orange-clr);
}
.service-name {
    font-size: 1.25rem;
    margin: 20px 0 10px;
}
/* end services */
/* start latest products */
.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 15px;
}
.product {
    position: relative;
    overflow: hidden;
    background-color: #F9F9F9;
    border: 2px solid #eee;
    border-radius: .25rem;
}
.product .icons {
    position: absolute;
    top: .5rem;
    left: -10rem;
}
.product:hover .icons {
    left: .5rem;
}
.product .icons a {
    display: block;
    width: 50px;
    height: 45px;
    margin-bottom: .5rem;
    background-color: var(--white-clr);
    border: 1px solid var(--black-clr);
    border-radius: .25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    color: var(--black-clr);
}
.product .icons a:hover {
    background-color: var(--orange-clr);
    color: var(--white-clr);
}
.product-img {
    height: 6rem;
    transform: rotate(-35deg);
    margin: 5rem auto;
    display: flex;
    filter: drop-shadow(0 .5rem 1rem rgba(0,0,0,.1));
}
.product:hover .product-img {
    transform: rotate(-35deg) scale(1.2);
}
.product-info {
    padding: 1rem;
    text-align: center;
}
.product-name {
    font-size: 1.5rem;
    margin-bottom: 15px;
}
.product-price {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--black-clr);
}
.product-price span {
    font-size: .85rem;
    text-decoration: line-through;
    color: var(--orange-clr);
}
.product-stars li {
    color: var(--orange-clr);
}
/* end latest products */
/* start featured products */
.featured-products .product {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
}
@media screen and (max-width: 1200px) {
    .featured-products .product {
        flex-direction: column;
    }
}
.featured-products .product:not(:last-child) {
    margin-bottom: 15px;
}
.featured-products .img-container {
    flex: 0 0 55%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
}
.img-container .small-img {
    width: 20%;
}
.img-container .small-img img {
    width: 100%;
    padding: .5rem;
    border: 2px solid #eee;
    border-radius: .25rem;
    cursor: pointer;
}
.img-container .small-img img:hover{
    background-color: #eee;
}
.img-container .big-img {
    width: calc(80% - 1.5rem);
    padding: 1rem;
}
.img-container .big-img img {
    width: 100%;
    filter: drop-shadow(0 .5rem 1rem rgba(0,0,0,.1));
}
.img-container .big-img img:hover {
    transform: scale(1.05);
}
.featured-products .content {
    flex: 0 0 calc(45% - 1.5rem);
}
.featured-products .content .product-stars {
    padding-bottom: 12px;
}
.featured-products .content .product-price {
    padding-top: 15px;
    margin-bottom: 0;
}
/* end featured products */
/* reviews section starts */
.reviews-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 15px;
}
.review {
    padding: 1.5rem;
    background-color: #F9F9F9;
    border: 2px solid #eee;
    text-align: center;
}
.review-writer-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.review-writer {
    font-size: 1.5rem;
    margin: 20px 0 15px;
}
.review-stars {
    margin-top: 15px;
}
.review-stars li  {
    color: var(--orange-clr);
}
/* reviews section ends */
/* newsletter section starts */
.newsletter-container {
    padding: 1.5rem;
    background-color: #F9F9F9;
    border: 2px solid #eee;
    text-align: center;
}
.newsletter-container h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.newsletter-container p {
    width: 100%;
    max-width: 45rem;
    margin: 0 auto 25px;
}
.newsletter-container form {
    width: 100%;
    max-width: 35rem;
    margin: 0 auto;
    display: flex;
    row-gap: 15px;
}
@media screen and (max-width: 576px) {
    .newsletter-container form {
        flex-direction: column;
    }
}
.newsletter-container form input[type='email'],
.newsletter-container form input[type='submit'] {
    border: 1px solid var(--black-clr);
    background-color: var(--white-clr);
}
.newsletter-container form input[type='email'] {
    width: 100%;
    padding: .5rem 15px;
    font-size: 1rem;
    color: var(--black-clr);
}
.newsletter-container form input[type='submit'] {
    display: inline-block;
    padding: .5rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}
@media screen and (min-width: 576px) {
    .newsletter-container form input[type='submit'] {
        border-left: none;
        font-size: 1.25rem;
    }
}
.newsletter-container form input[type='submit']:hover {
    background-color: var(--orange-clr);
    color: var(--white-clr);
}
/* end section starts */
/* start footer */
.footer-container {
    padding: 1.5rem;
    background-color: #F9F9F9;
    border: 2px solid #eee;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.foot {
    flex: 1 1 12rem;
}
.foot-title {
    font-size: 1.25rem;
    margin-bottom: 20px;
}
.foot a {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: var(--text-clr);
    margin-bottom: 20px;
}
.foot a:hover {
    color: var(--orange-clr);
}
.credit {
    display: block;
    width: 100%;
    padding: 1.5rem .5rem .5rem;
    border-top: 1px solid #eee;
    text-align: center;
    line-height: 1.5;
    font-size: .95rem;
    font-weight: 600;
    color: var(--text-clr);
}
.credit span {
    color: var(--orange-clr);
}
/* end footer */